<table class="styled-table">
    <thead>
        <tr><th>ID</th><th>Item Type</th><th>Location</th><th>In Stock</th><th>Reserved</th><th>Reorder Point</th></tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.item_type.name }}</td>
                <td>{{ stock.location.name }}</td>
                <td>{{ stock.in_stock }}</td>
                <td>{{ stock.reserved }}</td>
                <td>{{ stock.reorder_point }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
